@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"/>
                        </div>
                        <div class="col-xl-6">
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase">Потребителска регистрация</h3>

                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <div class="row">
                                        <div class="col-md-4 mb-4">
                                            <div class="form-outline">
                                                <label asp-for="Input.FirstName" class="form-label"></label>
                                                <input asp-for="Input.FirstName" class="form-control form-control-lg"/>
                                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <div class="form-outline">
                                                <label asp-for="Input.MiddleName" class="form-label"></label>
                                                <input asp-for="Input.MiddleName" class="form-control form-control-lg"/>
                                                <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <div class="form-outline">
                                                <label asp-for="Input.LastName" class="form-label"></label>
                                                <input asp-for="Input.LastName" class="form-control form-control-lg"/>
                                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 mb-4">
                                            <div class="form-outline">
                                                <label asp-for="Input.Email" class="form-label"></label>
                                                <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true"/>
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <div class="form-outline">
                                                <label asp-for="Input.Password" class="form-label"></label>
                                                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" class="form-control form-control-lg"/>
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <div class="form-outline">
                                                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                                <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg"/>
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label asp-for="Input.Age" class="form-label"></label>
                                                <input asp-for="Input.Age" class="form-control form-control-lg"/>
                                                <span asp-validation-for="Input.Age" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label asp-for="Input.School" class="form-label"></label>
                                                <input asp-for="Input.School" class="form-control form-control-lg"/>
                                                <span asp-validation-for="Input.School" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <label asp-for="Input.Status" class="form-label"></label>
                                                <input placeholder="Работник/ученик/други" asp-for="Input.Status" class="form-control form-control-lg"/>
                                                <span asp-validation-for="Input.Status" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">

                                            <select id="provinces" class="form-control" asp-items="this.Model.Input.Provinces">
                                                <option value="" disabled selected>Select province</option>
                                            </select>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <select id="postalCode" asp-for="Input.CityId" class="form-control" asp-items="this.Model.Input.Cities">
                                                <option value="" disabled selected>Select city</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="row p-3">
                                        <label asp-for="Input.InterestsIds"></label>
                                        <select asp-for="Input.InterestsIds" asp-items="this.Model.Input.Interests" multiple>
                                        </select>
                                        <span asp-validation-for="Input.InterestsIds"></span>
                                    </div>

                                    <div class="row p-3">
                                        <label asp-for="Input.CategoriesIds"></label>
                                        <select asp-for="Input.CategoriesIds" asp-items="this.Model.Input.Categories" multiple>
                                        </select>
                                        <span asp-validation-for="Input.InterestsIds"></span>
                                    </div>


                                    <div class="d-flex justify-content-end pt-3">
                                        <button id="registerSubmit" type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script>
        const selectCities = document.querySelector("#postalCode");
        const selectProvinces = document.querySelector("#provinces");
    
        function onClickHandler() {
            const province = selectProvinces.value;
            let cities;
            fetch(`/Cities/${province}`)
                .then(x => x.json())
                .then(result => {
                    let cities = result.sort((cityA, cityB) => cityA.postalCode - cityB.postalCode)
                    selectCities.innerHTML = "";
                    for (const city of cities) {
                      selectCities.innerHTML += `<option value="${city.id}">${city.name + ", " + city.postalCode}</option>`;
                    }
                })
                .catch(x => {selectCities.innerHTML = "";});
        }
        
        selectProvinces.onchange = onClickHandler;
    </script>
}