<li class="dropdown">
    <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Admin Actions
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-area="Administration" asp-controller="Categories" asp-action="Index">Create Category</a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" asp-area="Administration" asp-controller="Interests" asp-action="Index">Create Interest</a>
        </li>
    </ul>
</li>